@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
/* font-family: 'Jura',
sans-serif; */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
font-family: 'Jura',
sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, p {
    margin-bottom: 1rem;
}

.test {
    
    min-height: 200vh;
    padding: 6rem 1rem 1rem;
}

