.navbar {
    display: flex;
    flex-wrap: wrap ;
    align-items:center ;
    justify-content: space-between;
    position: fixed;
    padding: 1rem;
    width: 100%;
    min-height: 75px;
    background-color: transparent;
    color: #543309;
}
.navbar_links {
    display: flex;
}
.navbar_link {
    padding: 0 0.3rem;
    color: inherit;
}
.navbar_burger {
    width:40px ;
    height: 40px;
    background-color: transparent;
    border: none;
    color: inherit;
}

@media screen and (max-width:767px) {
    .navbar_links {
    flex-direction: column; /* paramètre qui permet de faire a la verticalité */
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    width: 0;
    bottom: 0;
    visibility: hidden;
    height: 100vh;
    padding: 2rem;
    background-color: #000;
    transition: all .8s ease-out;
    }

    .show-nav .navbar_links {
        right: 0;
        width: 100vw;
        visibility: visible;
    }

    /* BONUS */
.navbar_item::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: rgb(0, 0, 0);
}

.navbar_item:last-child::after {
    display: none;
}

    .navbar_link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }
    .navbar_burger {
       display: block;
    }
    .navbar_burger:hover {
        cursor: pointer;
        position: fixed;
        top:1rem ;
        right: 1rem;
    }
    .burger-bar,
    .burger-bar::before, 
    .burger-bar::after {
     display: block;
     width: 40px;
     height: 3px;
     position: relative;
     border-radius: 3px;
     background-color: rgb(0, 0, 0);
     transition: all .5s ease-in-out;
}
.burger-bar::before,
.burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
}
.burger-bar::before {
    transform: translateY(-12px);
}
.burger-bar::after {
    transform: translateY(12px);
}
.show-nav .burger-bar {
    width: 0;
    background: transparent;
}


.show-nav .burger-bar::before {
transform: rotate(45deg) ;
}

.show-nav .burger-bar::after {
    transform: rotate(-45deg);
} 

/* burder button animation */ 
.navbar_item {
    transform: translateY(100vh);
}
.show-nav .navbar_item {
    transform: translateY(0);
}
.show-nav .slideInDown-1 {
    transition: all 1s ease-out;
}
.show-nav .slideInDown-2 {
    transition: all 1.5s ease-out;
}
.show-nav .slideInDown-3 {
    transition: all 2s ease-out;
}
.show-nav .slideInDown-4 {
    transition: all 2.5s ease-out;
}
.show-nav .slideInDown-5 {
    transition: all 2.8s ease-out;
}


}

li {
    margin: 0 30px;
}